* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-size: 12px;
  padding: 36px 156px;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
